$teal: #009FA0;


@mixin noBulletList {
  li {
    list-style-type: none;
    line-height: 30px;
  }
}

@mixin horizontalMenuStyle {
  display: flex;
  flex-direction: row;
}

@mixin borderStyle {
  border-bottom: 1px solid #DFDFDF;
}

@mixin linkStyle {
  a {
    color: black;
    text-decoration: none;
    &:hover {
      color: #009FA0;
      text-decoration: none;
    }
  }
}

body {
  font-family: 'Montserrat', sans-serif;
  @include linkStyle;
  margin-bottom: 200px;
}

.bold {
  font-weight: bold;
}

.teal {
  color: $teal;
  font-weight: bold;
}

.nav-bar {
  @include horizontalMenuStyle;
  justify-content: space-between;
  margin-top: 10px;
  margin-left: 10px;
  img {
    height: 50px;
  }
  padding-bottom: 10px;
  align-items: center;
  @include borderStyle;
}

.search {
  display: flex;
  align-items: center;
  input {
    border: 0px;
  }
}

#magnifying {
  height: 25px;
  margin-right: 10px;
}

h1 {
  font: {
    weight: normal;
    size: 22px;
  }
}

h2 {
  font: {
    size: 28px;
    weight: 600;
  }
}

h3 {
  font: {
    weight: normal;
    size: 18px;
  }
}
h5 {
  font-size: 25px;
}

h6 {
  font-size: 22px;
  font-weight: bold;
  padding-bottom: 10px;
  @include borderStyle;
}

.course-content {
  margin: 0 22%;
}
.menu {
  @include horizontalMenuStyle;
  justify-content: space-around;
  @include borderStyle;
  margin-top: 20px;
  margin-bottom: 20px;
}

.weekday-toggle {
  &:hover {
    cursor: pointer;
  }
}

.week-work {
  a {
    font-size: 18px;
  }
}

.monday-work {
  display: none;
}

.jump-start {
  @include noBulletList;
}

.breadcrumb {
  @include noBulletList;
  @include borderStyle;
  background-color: white;
  padding: {
    top: 50px;
    bottom: 50px;
  }
  li {
    display: inline;
    margin-right: 15px;
    font-size: 32px;
  }
}

.row {
  @include horizontalMenuStyle;
  @include noBulletList;
  // justify-content: space-around;
  margin-bottom: 20px;
}

.course {
  margin-bottom: 100px;
}
.weekly-schedule {
  margin-top: 60px;
  .row {
    margin-bottom: 60px;
  }
}

.row2 {
  @include horizontalMenuStyle;
  @include noBulletList;
  justify-content: space-between;
  margin: 0 200px;
  align-items: baseline;
}


.course-list {
  @include noBulletList;
}

.col-md-9 {
  h1 {
    margin-bottom: 40px;
  }
  ul {
    li {
      list-style-type: disc;
    }
    ul {
      li {
        list-style-type: circle;
      }
    }
  }
}

#tab-headers {
  @include noBulletList;
}

.caret {
  width: 10px;
}

.container {
  margin-top: 40px;
}

.tab-content {
  margin-top: 30px;
}

// @media screen and
